# 🧠 Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

.local-chromium/

# ⚙️ Environment
.env.local
.env.*.local

# 🗂️ Build / Cache
dist/
build/
.cache/
.tmp/
.DS_Store

# 🧩 Puppeteer
.chromium/
.bot_sessions/
bot/sessions/
.bot_cache/

# 🧱 IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# 🔒 Logs
logs/
*.lo*
